/* Featured Thumbnail */
.featured_thumbnail {
	float: left;
	width: 100%;
}

/* Blog Post */
.blog_post {
	margin-bottom: 50px;
	header {
		margin-bottom: 10px;
	}
}

/* Blog Post - Entry Date */
.entry-date {
	color: #3a3a49;
  font-size: 0.9em;
}

/* Blog Content Block */
.blog_title {
	color: $mediumBlue;
	font-weight: 600;
	margin-bottom: 0;
}
.blog_content {
	padding: 4em 1em;
}

@media screen and #{breakpoint(small down)} {
	.blog_summary {
		float: left;
		width: 100%;
		margin-top: 20px;
	}
}
@media screen and #{breakpoint(medium up)} {
	.featured_thumbnail {
		width: auto;
		margin: auto 3% auto auto;
	}
}
