/*********************************
	Homepage Introduction
*********************************/
.introduction {
	text-align: center;
	max-width: 50rem;
	margin: auto;
	padding: 50px 1em;
	h1 {
		color: $violet;
		font-size: 1.6em;
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 25px;
		&:after {
			content: '';
			background: url(../images/icons/header-db.svg) no-repeat;
			background-size: contain;
			width: 58px;
			height: 11px;
			margin: 10px auto 0;
			display: block;
		}
	}
}
/*********************************
	Featured Deals Aside(s)
*********************************/
.featured_deals {
  margin: 0 auto;
  aside {
    float: left;
    width: 100%;
  }
  .fdp {
    position: relative;
    overflow: hidden;
  }
}
/*********************************
	Homepage Hero
*********************************/
.homepage_hero {
  background: url(../images/backgrounds/home.jpg) no-repeat 0;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &:before {
    background: url(../images/backgrounds/heroOverlay.png) no-repeat;
    background-size: cover;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .primary_nav {
    position: relative;
    z-index: 1;
  }
  .main_nav li a {
    @include transition(opacity 0.35s ease-in-out);
    color: $white;
		&:focus, &:hover {
			opacity: 0.6;
		}
  }
  #hamburger span {
    background-color: $white;
  }
  .typography {
    position: relative;
    z-index: 0;
    clear: both;
    float: left;
    width: 100%;
    margin: 50px auto;
    text-align: center;
    p {
      color: $white;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.4;
    }
  }
}
/*********************************
	Client Testimonials
*********************************/
.testimonials {
  float: left;
  width: 100%;
  position: relative;
  margin: auto auto 50px;
  hr {
    border: solid 1px $lightPurple;
    max-width: 100%;
  }
  blockquote {
    background: url(../images/icons/quotes.svg) no-repeat center 1em;
    max-width: 60rem;
    margin: auto;
    padding: 5em 2em 0;
    border: 0;
    div.client {
      color: $fadedBlue;
      font-weight: 700;
    }
  }
  .owl-controls {
    margin: 3rem auto;
  }
}
.owl-dots {
  text-align: center;
  margin: auto;
}
/*********************************
	Featured Products
*********************************/
.featured_products {
	float: left;
	width: 100%;
	margin: 70px 0px auto;
	text-align: center;
	h3 {
		color: $mediumBlue;
		font-size: 1.9375rem;
	  font-weight: 600;
		margin-bottom: 30px;
	}
}
.featured_product {
	display: inline-block;
	width: 50%;
	margin-bottom: 50px;
	padding: 0 0.8rem;
	medium {
		color: $mediumBlue;
    font-weight: 600;
    display: block;
		margin-top: 20px;
	}
	.image {
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 150px;
	}
}
/*********************************
	Whys Us Headline
*********************************/
.why_us_headline {
	text-align: center;
	h3 {
		color: $mediumBlue;
		font-weight: 600;
    font-size: 1.9375rem;
    font-weight: 600;
    margin-bottom: 30px;
	}
}
.why_us {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 50px;
}
/*********************************
	Why Us - Single Callout(s)
*********************************/
.wu-co {
  border: none;
  text-align: center;
  div {
    width: 220px;
    height: 190px;
    margin: auto auto -1.9rem;
  }
	p {
		color: $purple;
		font-weight: bold;
		text-transform: uppercase;
	}
  &:nth-of-type(2) div {
    background-position: -21rem center !important;
  }
  &:nth-of-type(3) div {
    background-position: -41rem center !important;
  }
  &:last-of-type  div {
    background-position: -63rem center !important;
  }
}
/***********************************
  Google Map Parent Container
***********************************/
.home_map {
	width: 100%;
	height: 600px;
	.gm-style-iw p {
    color: black;
    font-size: 18px;
    margin-top: 20px;
    margin: 20px 50px 10px;
  }
	img {
		max-width: inherit !important;
	}
}
/***********************************
  Google Map
***********************************/
.gmap {
	position: relative;
	overflow: hidden;
}
/***********************************
  Google Map Location Info
***********************************/
.location_info {
	background-color: $lightGray;
	padding: 50px;
	overflow: hidden;
	.location {
		list-style-type: none;
		margin: 45px auto;
		li {
			margin-bottom: 35px;
			&:nth-child(2):before {
				background-position: 0px -55px;
			}
      &:last-child {
        margin-bottom: 0;
        &:before {
          background-position: 0px -100px;
  				height: 115px;
        }
      }
			&:before {
				background: url(../images/icons/sld-sprite.svg) no-repeat;
				background-size: cover;
				content: '';
				display: block;
				float: left;
				width: 35px;
				height: 48px;
				margin-right: 1em;
			}
		}
		a {
			color: $black;
		}
	}
	.store_hours {
		float: left;
		width: 100%;
	}
	h3 {
		color: $mediumBlue;
		font-weight: 600;
		&:before {
			background: url(../images/icons/lh-dl.svg) no-repeat;
			background-size: contain;
			content: '';
			display: block;
			margin: 1em 0 0.5em;
			width: 150px;
			height: 14px;
		}
	}
}

.phone-number-home {
    margin-top: 5px;
    color: #fff;
    font-family: "open-sans", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-right: 30%;
    
    a, a:visited, a:active, a:hover {
        color: #fff;
    }
}