@media screen and #{breakpoint(small down)} {
    /*********************************
            Hide Product Diagram SVG
    *********************************/
    // .rmfy_imagery {
    // 	display: none;
    // }
}
@media screen and #{breakpoint(medium down)} {
    /*********************************
            Homepage Map
    *********************************/
    .home_map {
        height: 350px;
    }
    /*********************************
            Primary Nav
    *********************************/
    .primary_nav {
        @include transition(border 0.35s ease-in-out);
        overflow: hidden;
        margin: 30px auto 0;
        padding-bottom: 20px;
        &.show {
            margin: 30px auto 0;
            border-bottom: solid 1px white;
        }
    }
    /*********************************
            Product Heading
    *********************************/
    .pws_header {
        padding: 2vh 20px 20px !important;
        border-bottom: 0;
    }
    /*********************************
            Product Sidebar Menu
    *********************************/
    .product_sidebar {
        display: none;
    }
    /*********************************
            Footer Menu(s)
    *********************************/
    ul.footer_menu {
        margin-top: 25px;
        padding: 0;
    }
    .primary_footer {
        text-align: center;
    }
    /*********************************
            Breadcrumbs Horizontal Scroll
    *********************************/
    .breadcrumbs {
        white-space: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .phone-number-interior, .phone-number-home {
        margin-right: 0;
    }
}
@media screen and #{breakpoint(medium up)} {
    .product_content article {
        margin: 40px auto 0;
    }
    /*********************************
            RMFY Aside(s)
    *********************************/
    .rmfy aside {
        &:first-child {
            width: 50%;
        }
        &:last-child {
            float: right;
            width: 45.6666%;
        }
    }
    /*********************************
            Homepage Hero
    *********************************/
    .homepage_hero {
        padding: 2em 0;
        .typography {
            margin: 5em auto;
        }
        .typography p {
            font-size: 2.5em;
        }
    }
    /*********************************
            404 & Contact Form Submit Input
    *********************************/
    #gform_1 input[type="submit"] {
        margin-top: 0;
    }
    input[type="submit"] {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        margin-top: 20px;
        &:focus, &:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    /*********************************
            About Us - Summary Container
    *********************************/
    .about_summary {
        margin: 60px auto;
        article {
            &:first-child {
                margin-top: 0;
            }
        }
        aside {
            &:first-child {
                padding: 0 0.9375rem;
            }
        }
    }
    /*********************************
            About Us - Summary Columns
    *********************************/
    .about-column {
        &:first-child {
            float: right;
        }
        &:last-child {
            float: left;
        }
    }
    /*********************************
            Breadcrumbs
    *********************************/
    .breadcrumbs {
        padding-top: 20px;
        li.current-item, li a {
            font-size: 1em;
        }
    }
    /*********************************
            Contact Us: Section
    *********************************/
    .contact_us {
        margin: 80px auto;
    }
    /*********************************
            Homepage Featured Product
    *********************************/
    .featured_product {
        width: 45%;
        margin: 0 2% 50px;
        medium {
            margin: 20px auto;
        }
        .image {
            min-height: 185px;
        }
    }
    /*********************************
            Featured Products
    *********************************/
    .fpc {
        width: 48%;
        margin: 2% 2% 2% auto;
    }
    /*********************************
            Gravity Forms - Contact Us
    *********************************/
    .gform_wrapper li.gfield {
        &#field_1_2, &#field_1_3 {
            width: 50%;
        }
        &#field_1_2 {
            padding-right: 1em;
        }
        &#field_1_3 {
            padding-left: 1em;
        }
    }
    input[type="submit"] {
        width: auto;
    }
    /*********************************
            Homepage Featured Products
    *********************************/
    .featured_products {
        margin: 100px auto 50px;
        h3 {
            margin-bottom: 60px;
        }
    }
    /*********************************
            Homepage Featured Deals
    *********************************/
    .featured_deals {
      aside {
        &:first-child {
          float: right;
          width: 68%;
          margin-right: 2.9%;
        }
        &:last-child {
          float: left;
          width: 26.2%;
          margin-left: 2.9%;
        }
      }
    }
    /*********************************
            Homepage Introduction Header
    *********************************/
    .introduction h1 {
        font-size: 2.4em;
        margin-bottom: 35px;
        &:after {
            width: 88px;
            height: 11px;
        }
    }
    /***********************************
      Location Details - Container
    ***********************************/
    .contact_location {
        margin-top: 65px;
    }
    .brands div {
        margin-top: 60px;
        &:nth-child(-n+2) {
            margin-top: 0px;
        }
    }
    /*********************************
            Our Specials Container
    *********************************/
    .specials {
        margin: 60px 0;
    }
    /*********************************
            Product Content
    *********************************/
    [role="page-header"] {
        padding: 6vh 20px;
        h2 {
            font-size: 2.5em;
            &:after {
                width: 88px;
                height: 11px;
            }
        }
    }

    /***********************************
            Closeouts
    ***********************************/

    .closeouts {
        width: 90%;
        margin: 0 auto;

        h3 {
            margin-top: 20px;
            font-size: 1.1rem;
            letter-spacing: 1px;
            color: #2c2660;
            font-weight: bold;
        }

        .costs {
            color: #782982;
            text-align: center;
            h4 {
                color: #782982;
                font-size: 1.5rem;
                letter-spacing: 2px;
                text-transform: uppercase;

                small {
                    color: #782982;
                    font-size: 1.1rem;
                    letter-spacing: 1px;
                    font-weight: bold;
                    text-transform: none;
                }
            }
        }
    }

    .closeout-entry {
        width: 90%;
    }

    .closeout-deal-text {
        text-align: center;
        margin: 0 auto;
        font-size: 1.8rem;
    }

    .closeout-avail-text {
        text-align: center;
        margin: 0 auto;
        font-size: 1.8rem;
    }
}
@media screen and #{breakpoint(large up)} {
    .rmfy {
        margin-top: 65px !important;
    }
    /*********************************
            Footer Facebook Icon
    *********************************/
    .fb_sm_btn a {
        background-position: -10px 0px;
        margin: 0;
    }
    .page-template-front-page .primary_nav {
        margin: 0 auto 30px;
    }
    /*********************************
            Primary Navigation
    *********************************/
    .primary_nav {
        margin: 30px auto;
    }
    /*********************************
            Hide product sidebar mobile menu
    *********************************/
    .msidebar {
        display: none;
    }
    /*********************************
            Homepage testimonials
    *********************************/
    .testimonials blockquote {
        background: url(../images/icons/quotes.svg) no-repeat center left;
        padding: 3em 0 0 6em;
    }
    /*********************************
            Branding Logo
    *********************************/
    .branding img {
        width: 250px;
    }
    /*********************************
            Contact Us - Location Details
    *********************************/
    .contact_location aside {
        width: 50%;
    }
    /*********************************
            Major brands div
    *********************************/
    .brands div {
        &:nth-child(-n+3) {
            margin-top: 0px;
        }
    }
    /*********************************
            Homepage Featured Product
    *********************************/
    .featured_product {
        width: 28%;
        margin: 0 2% 50px;
    }
    /*********************************
            Homepage Featured Product
    *********************************/
    .featured_product {
        width: 21%;
        margin: 0 2%;
    }
    /*********************************
            Product Sidebar Menu
    *********************************/
    .product_sidebar {
        min-height: 756px;
        padding: 6vh 2em;
        border-right: solid 1px $lightPurple;
    }
    /*********************************
            Product Container Content
    *********************************/
    .product_content {
        padding: 6vh 3em;
    }
    /*********************************
            Products Avaliable In Store
    *********************************/
    .fpc {
        width: 31.333%;
        &:nth-child(4n+4) {
            clear: both;
        }
    }
    .fpc div {
        min-height: 200px;
    }
}
@media (min-width: 1080px) {
    /*********************************
            Homepage Location Details
    *********************************/
    .location_info {
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        height: 100%;
        max-width: 450px;
        // margin: auto auto auto 150px;
    }
    .location {
        margin: 0 150px;
    }
}
@media (min-width: 1200px) {
    /*********************************
            Hamburger Menu Trigger
    *********************************/
    #hamburger {
        display: none;
    }
    /*********************************
            Navigation Container
    *********************************/
    nav {
        float: right;
        padding: 0 0.9375rem;
        width: 75%;
    }
    /*********************************
            Navigation Contents
    *********************************/
    .main_nav {
        display: block !important;
        float: right;
        width: auto;
        margin-top: 20px;
        opacity: 1;
        > li {
            display: table-cell;
            vertical-align: middle;
            width: auto;
            &.menu-item-has-children:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    margin: 5px auto auto 8px;
                }
            }
            > a {
                display: block;
                padding: 0.5em;
            }
        }
        .sub-menu {
            @include transition(all 0.25s ease-in-out);
            background-color: $mediumBlue;
            display: block;
            position: absolute;
            left: auto;
            right: auto;
            opacity: 0;
            visibility: hidden;
            margin: 20px auto auto 8px;
            padding: 15px 1.5em;
            width: 250px;
            z-index: 99;
            li {
                border-bottom: solid 1px $lightBlue;
                &:last-child {
                    border-bottom: 0;
                }
            }
            a {
                padding: 6px 0;
            }
        }
    }
}
@media (min-width: 1440px) {
    .homepage_hero {
        padding: 2em;
    }
    .location_info {
        margin: auto auto auto 150px;
    }
}
