/*********************************
	Mobile Product Sidebar Menu
*********************************/
.msidebar {
	list-style-type: none;
	margin: 25px auto 0;
	position: relative;
	cursor: pointer;
	display: block;
	li {
		background-color: $purple;
		&.current_page_item a {
			background-color: darken($purple, 5%);
		}
		&:not(:first-child) {
			border-bottom: solid 1px darken($purple, 5%);
			display: none;
			a {
				@include transition(background 0.35s ease-in-out);
				display: block;
				padding: 20px;
				color: $white;
				&:focus, &:hover {
					background-color: darken($purple, 5%);
				}
			}
		}
		&:first-child {
			background-color: $white;
			border: solid 1px $lightPurple;
			a {
				font-weight: 700;
				display: block;
				padding: 20px;
				text-transform: uppercase;
				color: $purple;
			}
		}
	}
	i {
		@include transition(all 0.25s ease);
		display: inline-block;
		text-indent: -9999em;
		background: url(../images/icons/purple_arrow_down.svg) no-repeat;
		background-size: contain;
		float: right;
		margin: 7px 0 0;
		width: 25px;
		height: 20px;
		transform: rotateX(0deg);
		transform-origin: 50px 6px;
		&.active {
			transform: rotateX(180deg);
		}
	}
}
/***********************************
  Product Sidebar Menu
***********************************/
.pSidebar {
	list-style-type: none;
	margin: 0;
	li {
		&.current-menu-item a {
			color: $purple;
		}
		&.active a {
			color: $purple;
		}
	}
	a {
		display: block;
		font-weight: 700;
		text-transform: uppercase;
	}
}
/***********************************
  Product Content Container
***********************************/
.product_content {
	// padding: 4vh 1em;
	padding: 2vh 0.625rem;
	article {
		float: left;
		width: 100%;
		margin: 20px auto 0;
		&:first-child {
			margin: 0;
		}
	}
}
/***********************************
  Products Avaliable In Store
***********************************/
.psi {
	a {
		color: $mediumBlue;
		font-weight: 600;
	}
}

.isp, .psi {
  float: left;
  width: 100%;
  text-align: center;
}
.fpc {
  float: left;
  width: 100%;
  margin: 20px 0;
  p {
    margin: 1em auto;
  }
  div {
    min-height: 8em;
  }
}
/***********************************
  Major Product Brands
***********************************/
.brands {
  float: left;
	margin: 20px auto 0;
  width: 100%;
  div {
		background-size: contain !important;
		min-height: 70px;
		margin-top: 50px;
		&:first-child {
			margin-top: 0;
		}
  }
}
/***********************************
  Right mattress for you imagery
***********************************/
.rmfy_imagery {
	margin-top: 15px;
}

.rmfy {
	aside {
		float: left;
		width: 100%;
	}
}

.dF {
  fill: #FFFFFF;
  stroke: #3A3A49;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st0 {
  @include transition(all 200ms linear);
  stroke: #3A3A49;
  stroke-width: 1.2;
  stroke-miterlimit: 10;
  &:focus, &:hover {
    stroke: url('#gradient2');
    stroke-width: 4;
  }
  &.active {
    fill: url('#gradient2');
    stroke: url('#gradient2');
  }
}

.st3 {
  &.active {
    fill: $white;
    stroke-width: 2;
  }
}

.thank-you {
	padding: 50px 20px;
	text-align: center;
	@media (min-width: 65em) {
		padding: 105px 20px;
	}
}
