/*********************************
	Our Specials Container
*********************************/
.specials {
	float: left;
	width: 100%;
	margin: 40px 0;
	div.special {
		margin-bottom: 35px;
		h4, p {
			margin-bottom: 30px;
		}
		// &:last-child {
		// 	clear: left;
		// 	float: left;
		// }
	}
}
