/*********************************
	About Us: Summary container
*********************************/
.about_summary {
	margin: 40px auto;
	aside {
		&:first-child {
			padding: 0;
		}
	}
	article {
		margin-top: 40px;
	}
}
/*********************************
	About Us: BBB logo
*********************************/
.bbb_logo {
	img {
		display: block;
		margin: 64px auto 0;
		width: 150px;
	}
}
/*********************************
	About Us: Video
*********************************/
.about_video {
  margin-bottom: 50px;
  hr {
    border: solid 1px $lighterPurple;
    float: left;
    width: 100%;
    margin-top: 65px;
  }
}
/*********************************
	Our Commitment - Asides
*********************************/
.our_commitment {
  margin-bottom: 50px;
  aside:last-child {
    display: table;
    div {
      display: table-cell;
      vertical-align: middle;
    }
  }
  hr {
    border: solid 1px $lighterPurple;
    float: left;
    width: 100%;
    margin-top: 65px;
  }
}
/*********************************
	Our Commitment - Headline
*********************************/
.oc_headline {
  margin-bottom: 50px;
}
/*********************************
	Our Commitment - Bullets
*********************************/
.oc_key_points {
  list-style-type: none;
  margin: 0;
  > li {
    margin-bottom: 40px;
    &:first-child h5:before {
      background: url(../images/icons/oc-n1.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:nth-child(2) h5:before {
      background: url(../images/icons/oc-n2.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:nth-child(3) h5:before {
      background: url(../images/icons/oc-n3.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:last-child h5:before {
      background: url(../images/icons/oc-n4.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
/*********************************
	Plyr SVG Overrides
*********************************/
.plyr__play-large svg {
  background: url("../images/icons/play-button.svg") no-repeat center;
  background-size: contain;
  width: 5em;
  height: 5em;
}
.plyr__controls {
  [data-plyr="play"] svg {
    background: url("../images/icons/plyr-play.svg") no-repeat center;
    background-size: contain;
    width: 18px;
    height: 18px;
  }
  [data-plyr="pause"] svg {
    background: url("../images/icons/plyr-pause.svg") no-repeat center;
    background-size: contain;
    width: 18px;
    height: 18px;
  }
  [data-plyr="mute"] {
    svg {
      &:first-child {
        background: url("../images/icons/plyr-muted.svg") no-repeat center;
        background-size: contain;
        width: 18px;
        height: 18px;
      }
      &:nth-child(2) {
        background: url("../images/icons/plyr-volume.svg") no-repeat center;
        background-size: contain;
        width: 18px;
        height: 18px;
      }
    }
  }
  [data-plyr="fullscreen"] {
    svg {
      background: url("../images/icons/plyr-enter-fullscreen.svg") no-repeat center;
      background-size: contain;
      width: 18px;
      height: 18px;
    }
  }
}
.plyr--fullscreen-active [data-plyr="fullscreen"] {
  svg {
    background: url("../images/icons/plyr-exit-fullscreen.svg") no-repeat center;
    background-size: contain;
    width: 18px;
    height: 18px;
  }
}
.plyr__progress input[type="range"] {
  position: relative;
  z-index: 2;
}
