.closeout-deal-text {
    font-size: 1.2rem;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.closeout-avail-text {
    font-size: 1.2rem;
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
}

.closeout-page {
    border-bottom: solid 1px #8484a5;
    margin: 0 20px 100px 0;
}

.closeouts {
    img {
        margin: 0 auto;
        text-align: center;
    }
    
    h3 {
        margin-top: 20px;
        color: #1b75bb;
        font-weight: bold;
    }
    
    ul {
        margin-top: 10px;
        
        li {
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
    
    .desc-area {
        margin-bottom: 30px;
    }
    
    .costs {
        color: #782982;
        text-align: center;
        h4 {
            color: #782982;
            
            small {
                color: #782982;
                font-size: .9rem;
                font-weight: normal;
                text-decoration: line-through;
            }
        }
    }
}