/***********************************
  Contact Us - Typography
***********************************/
.c_location h4 {
  color: $white;
  font-weight: 700;
  margin-bottom: 25px;
}
.store_hours {
  list-style-type: none;
  margin: 0;
}
/***********************************
  Location Details - Container
***********************************/
.contact_location {
	margin-top: 45px;
}
/***********************************
  Location Details - Aside(s)
***********************************/
.contact_location aside {
	color: $white;
	text-align: center;
	float: left;
	width: 100%;
	&:first-child {
		background-color: $mediumBlue;
		padding: 5em 1em;
	}
}
/***********************************
  Location Details - Google Map
***********************************/
.acf-map {
	width: 100%;
	height: 400px;
	border: solid 1px #ccc;
	img {
		max-width: inherit !important;
	}
}
.contact_us {
  float: left;
  width: 100%;
  margin: 48px auto;
  hr {
    border: solid 1px $lightPurple;
    float: left;
    margin: 3rem auto 0;
    max-width: 100%;
    width: 100%;
  }
}
/***********************************
  Location - Gravity Form
***********************************/
.gform_wrapper {
  max-width: 50em;
  margin: auto;
  .gform_heading {
    color: $fadedBlue;
    max-width: 40em;
    margin: auto;
  }
  .validation_error {
    background: $purple;
    font-weight: 600;
    margin-bottom: 1em;
    color: $white;
    margin: auto auto 35px;
    padding: 15px
  }
  ul {
    list-style-type: none;
    margin: 0;
  }
  li.gfield {
    float: left;
    margin-bottom: 2em;
    width: 100%;
    div.validation_message {
      color: $purple;
      font-weight: 600;
      text-align: left;
      margin-top: 0.45em;
      font-size: 0.8rem;
    }
    label {
      display: none;
    }
  }
}
/***********************************
  Contact Form - Heading
***********************************/
#gform_1 .gform_heading {
  margin-bottom: 45px;
}
/***********************************
  Contact Form - Hide phone div
***********************************/
#field_1_2 {
  div.gfield_description {
    display: none;
  }
}
/***********************************
  Hide Gravity Form AJAX GIF
***********************************/
body img.gform_ajax_spinner {
  display: none !important;
}

.acf-map {
  .gm-style-iw p {
    color: black;
    font-size: 18px;
    margin-top: 20px;
    margin: 20px 50px 10px;
  }
}
