.financial-box {
    h3 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 2rem;
        margin-bottom: 0;
        padding-bottom: 0;
        font-weight: bold;
        
        &.less-than-perfect {
            margin-bottom: 20px;
            text-transform: none;
        }
    }
    
    margin-bottom: 20px;
    margin-top: 15px;
    color: #fff;
    background-color: $mediumBlue;
    padding: 40px 20px 40px 20px;
    text-align: center;
    p {
        color: $white;
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 0;
        padding:  0 0 1rem 0;
        margin: 0;
    }

    .link {
        @include webkitNone(none);
        @include transition(all 0.25s ease-out);

        border: 2px solid #fff;
        background-color: $mediumBlue;
        font-weight: bold;
        font-size: 1.2rem;
        color: #fff;
        padding: .5rem 0 .5rem 0rem;
        display: block;
        width: 17rem;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);

        &:focus, &:hover {
            background-color: #fff;
            color: $lightBlue;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}

.special-offers {
    h5 {
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: bold;
    }
    p {
        line-height: 130%;
        font-size: .95rem;
        width: 85%;
    }
    
    ul {
        li {
            padding-bottom: 10px;
            font-size: .95rem;
        }
        
        li::marker {
            font-size: .5rem;
        }
    }
}

.financing-cta {
    text-align: center;
    
    display: block;
    margin: 0 auto;
    width: 17rem;
    float: none;
    margin-top: 20px;
    margin-bottom: 100px;
    
    &:focus, &:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
}