/*********************************
	Overrides default row width
*********************************/
.row {
	max-width: 90rem;
}
/*********************************
	Breadcrumbs
*********************************/
.breadcrumbs {
	display: block;
	margin: 10px 0 auto;
	padding-top: 10px;
	text-align: center;
	list-style-type: none;
	position: relative;
	width: 100%;
	li {
		display: inline-block;
		margin-right: 0.5em;
		text-align: center;
		font-weight: 600;
		&.current-item {
			color: $lightBlue;
			font-size: 0.9em;
		}
		&.active a {
			font-weight: bold;
		}
		a {
			color: $purple;
			font-size: 0.9em;
			font-weight: 600;
		}
	}
}
/*********************************
	Global Page Header
*********************************/
[role="page-header"] {
	border-top: solid 1px $lightPurple;
	border-bottom: solid 1px $lightPurple;
	margin: 0 20px;
	padding: 3vh 20px;
	h2 {
		color: $violet;
		font-size: 1.6em;
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 0;
		&:after {
			content: '';
			background: url(../images/icons/header-db.svg) no-repeat;
			background-size: contain;
			width: 58px;
			height: 7px;
			margin: 10px auto 0;
			display: block;
		}
	}
}
/*********************************
	Primary Navigation
*********************************/
.main_nav {
	@include transition(opacity 300ms ease-in-out);
	float: left;
	width: 100%;
	margin: 20px auto auto;
	opacity: 0;
	display: none;
	&.show {
		opacity: 1;
	}
	> li {
		float: left;
		width: 100%;
	}
	.sub-menu {
		list-style-type: none;
		margin: 0;
		display: none;
	}
}
/*********************************
	Branding Logo
*********************************/
.branding {
	display: block;
	img {
		max-width: 100%;
		width: 100%;
	}
}
/*********************************
	Hamburger Menu Trigger
*********************************/
#hamburger {
	float: right;
	width: 40px;
	height: auto;
  margin: 25px 20px;
	&.transform {
		span:first-child {
			transform: rotate(45deg);
			top: 14px;
		}
		span:nth-child(2) {
			opacity: 0;
			width: 0;
		}
		span:last-child {
			transform: rotate(-44deg);
			top: -14px;
		}
	}
	span {
		@include transition(all 0.25s ease-out);
		position: relative;
		background-color: $mediumBlue;
		border-radius: 15px;
		display: block;
		width: 100%;
		height: 6px;
		margin-bottom: 8px;
		&:first-child, &:last-child {
			top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
/*********************************
	Default Footer Tag
*********************************/
footer {
	float: left;
	width: 100%;
	h4, li, p, a {
		color: $white;
	}
}
/*********************************
	Footer Menu(s)
*********************************/
ul.footer_menu {
	list-style-type: none;
	margin: 0;
	li {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	li a {
		@include transition(opacity 0.25s ease-in-out);
		color: $white;
		font-weight: 700;
		text-transform: uppercase;
		opacity: 1;
		&:focus, &:hover {
			opacity: 0.5;
		}
	}
}
/*********************************
	Footer Logo
*********************************/
.footer_logo {
	display: block;
	margin-bottom: 25px;
}
/*********************************
	Footer Facebook Icon
*********************************/
.fb_sm_btn a {
	@include transition(opacity 0.25s ease-in-out);
	text-indent: -9999rem;
	background: url(../images/logos/facebook_white.svg) no-repeat;
	background-size: contain;
	display: block;
	opacity: 1;
	margin: auto;
	width: 50px;
	height: 50px;
	&:focus, &:hover {
		opacity: 0.5;
	}
}
/*********************************
	Primary Footer
*********************************/
.primary_footer {
	background-color: $darkBlue;
	margin-top: 10px;
	padding: 45px 25px;
	img {
		display: block;
		margin: 0 auto;
		width: 200px;
	}
}
/*********************************
	Secondary Footer
*********************************/
.footer_tagline {
	background-color: $mediumBlue;
	padding: 20px;
	text-align: center;
	p {
		color: $white;
		font-size: 1.2rem;
		font-weight: 600;
		margin-bottom: 0;
	}
}
/*********************************
	404 Error Page
*********************************/
.not-found {
	text-align: center;
}
.error404 {
	.entry-content {
		margin: 5vh 20px;
		min-height: 220px;
		position: relative;
	}
	.search_form {
		position: absolute;
		margin: 30px auto;
		left: 0;
		right: 0;
		height: 100%;
	}
}

.archive article {
	margin: 45px auto;
	border: solid 1px $lightPurple;
	padding: 20px;
}

.phone-number-interior {
    margin-top: 5px;
    color: #1b75bb;
    font-family: "open-sans", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-right: 30%;
}
