/**************************
  Default HTML & Body
**************************/
html,body {
  font-family: $open-sans;
  &.wf-loading {
    opacity: 0;
  }
}
/**************************
  Headlines
**************************/
h1,h2,h3,h4,h5,h6 {
  font-family: $open-sans;
}
h4 {
  color: $mediumBlue;
  font-weight: 600;
}
/**************************
  Imagery, iFrames, etc.
**************************/
img {
	max-width: 100%;
	width: 100%;
}
/**************************
  List Types
**************************/
ol li {
  list-style-type: decimal;
}
.oc_key_points h5 {
  color: $purple;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  &:before {
    content: '';
    color: $purple;
    float: left;
    width: 0.9em;
    height: 0.8em;
    margin-right: 0.5em;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}
/**************************
  Input Fields
**************************/
input, select, textarea {
  @include webkitNone(none);
	border: solid 2px $gray;
	font-weight: 600;
	font-style: italic;
	padding: 0.8em;
	width: 100%;
	&:focus {
		outline: none;
		-moz-border-image: -moz-linear-gradient(top, #972466 0%, $purple 100%);
	  -webkit-border-image: -webkit-linear-gradient(top, #972466 0%, $purple 100%);
	  border-image: linear-gradient(to bottom, #972466 0%, $purple 100%);
	  border-image-slice: 1;
	}
}
input[type="submit"], .cta-button {
  @include webkitNone(none);
  @include transition(all 0.25s ease-out);
	background-color: $white;
	border: none;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #972466 0%, $purple 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #972466 0%, $purple 100%);
  border-image: linear-gradient(to bottom, #972466 0%, $purple 100%);
  border-image-slice: 1;
	color: $purple;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	float: right;
	width: 100%;
	padding: 1em 1.5em;
  &:focus, &:hover {
		background: -webkit-linear-gradient(#972466,$purple);
		background: -moz-linear-gradient(#972466,$purple);
		background: -o-linear-gradient(#972466,$purple);
		background: linear-gradient(#972466,$purple);
		color: $white;
	}
}
/**************************
  Links
**************************/
.read-more {
  color: $purple;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  &:focus, &:hover {
    color: $purple;
    i {
      color: $purple;
      left: 10px;
    }
  }
  i {
    @include transition(all 0.25s ease-in-out);
    position: relative;
    left: 0;
    font-style: normal;
  }
}
/**************************
  Page Header - h2
**************************/
[role="page-header"] h2 {
	color: $violet;
	font-size: 1.6em;
	font-weight: 900;
	text-transform: uppercase;
}
/**************************
  Primary Navigation
**************************/
.main_nav {
  list-style-type: none;
  > li.current-menu-item > a,
  > li.current-menu-parent > a {
    color: $lightBlue;
  }
  > li:hover > a {
    color: $lightBlue;
  }
  > li > a {
    @include transition(color 0.25s ease-in-out);
    color: $darkBlue;
  }
  li ul li a {
    @include transition(color 0.25s ease-in-out);
    color: $white;
    display: block;
  }
  li ul li:hover a {
    color: $lightBlue;
  }
  li ul li {
    &.current-menu-item a {
      color: $lightBlue;
    }
  }
  li a {
    display: block;
    font-family: $open-sans;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 18px;
  }
}
/**************************
  Product Sidebar
**************************/
.product_sidebar ul {
  list-style-type: none;
  margin: 0;
  li.current_page_item a {
    color: $purple;
  }
  a {
    @include transition(color 0.25s ease-in-out);
    color: $gray;
    display: block;
    padding: 0.5em 0;
    font-weight: 700;
    text-transform: uppercase;
    &:focus, &:hover {
      color: $purple;
    }
  }
}
