// Custom Colors, Fonts, etc.
$open-sans: "open-sans", sans-serif;
$black: #000;
$fadedBlue: #3a3a49;
$lightGray: #f1f2f2;
$gray: #d1d3d4;
$lightBlue: #1b75bb;
$mediumBlue: #2b388f;
$darkBlue: #141b3f;
$lighterPurple: #8384A5;
$lightPurple: #8484a5;
$purple: #782982;
$violet: #2c2660;

// Calculate Rem's - Mixin Function
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Transitions Mixin Function
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
